* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "MuseoModerno", sans-serif;
}

:root {
  --text-color: #000;
  --bg-color: #e5e5e5;
  --main-color: #f29494;
  --second-color: #fff;
  --big-font: 5.5rem;
}
